asgiref
Brotli
certifi
cffi
charset-normalizer
colorama
crispy-bootstrap5
cryptography
defusedxml
distlib
dj-database-url
Django==3.2.20 
django-cors-headers
django-crispy-forms
django-email
django-environ
django-filter
django-templated-mail
djangorestframework
djangorestframework-simplejwt
djoser
environ
Faker
filelock
gunicorn
idna
Markdown
markdown-it-py
mdurl
multidict
oauthlib
packaging
pillow
pipenv
platformdirs
psycopg2
psycopg2-binary
pycparser
Pygments
PyJWT
PySocks
python-dateutil
python-dotenv
python3-openid
requests
requests-oauthlib
requests-toolbelt
rich
setuptools
six
social-auth-app-django
social-auth-core
sqlparse
typing_extensions
tzdata
urllib3
virtualenv
whitenoise
